.button {
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    font-size: var(--text-input);
}

.button--primary {
    color: var(--button-primary-color);
    background-color: var(--button-primary-bgcolor);
}

.button--secondary {
    color: var(--button-secondary-color);
    background-color: var(--button-secondary-bgcolor);
    box-shadow: var(--button-secondary-boxshadow);
}

.button--danger {
    color: var(--button-danger-color);
    background-color: var(--button-danger-bgcolor);
    box-shadow: var(--button-danger-boxshadow);
}

.disabled {
    opacity: 0.6;
    cursor: default;
}

.button--tiny {
    padding: 6px 10px;
    border-radius: var(--radius-xs);
    font-size: var(--text-sm);
}

.button--small {
    padding: 12px 45px;
    border-radius: var(--radius-sm);
}

.button--medium {
    padding: 17px 80px;
    border-radius: var(--radius);
}

.button--large {
    padding: 23px 108px;
    border-radius: var(--radius-lg);
}

.button--text {
    background-color: transparent;
    box-shadow: transparent 0 0 0 0 inset;
}

.button--outline {
    background-color: transparent;
}

@media (max-width: 425px) {
    .button--tiny {
        padding: 8px 12px;
        border-radius: var(--radius-xs);
        font-size: var(--text-input);
    }
}
