select.dropdown {
    background: white;
    color: black;
    font-weight: 300;
    border-radius: 20px;
    border: 2px solid black;
    padding: 18px 20px;
    font-size: var(--text-input);
}

.dropdown--placeholder {
    color: #9c9c9c9c;
}

select.dropdown option {
    color: purple;
}
