.textinput {
    border-radius: var(--radius-lg);
    border: 2px solid black;
    padding: 18px 20px;
    font-size: var(--text);
}

.textinput::placeholder {
    color: #9c9c9c9c;
    font-weight: 300;
    font-size: var(--text);
}

.textinput--label {
    font-size: var(--text);
}

.textinput:focus {
    outline-color: var(--purple);
}

.textinput--error {
    border-color: var(--red);
}

.textinput--error:focus {
    outline-color: var(--red);
}

.text--error {
    color: var(--red);
}

.textinput--end-button {
    background-color: var(--black);
    border-radius: var(--radius);
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 600px) {
    .textinput {
        padding: 12px 22px;
        border-radius: var(--radius);
    }
}

.translate-up {
    transform: translate(0%, -50%)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}
