.textinput {
    border-radius: var(--radius-lg);
    border: 2px solid black;
    padding: 18px 20px;
    font-size: var(--text-input);
}

.textinput::placeholder {
    color: #9c9c9c9c;
    font-weight: 300;
    font-size: var(--text-input);
}

.textinput--label {
    font-size: var(--text);
}

.textinput:focus {
    outline-color: #6C63FF;
}

.textinput--error {
    border-color: #FF6565;
}

.textinput--error:focus {
    outline-color: #FF6565;
}

.text--error {
    color: #FF6565;
}
