.modal--desc {
    font-weight: 300;
    text-align: center;
    font-size: var(--text);
    margin-top: 10px;
    color: var(--forged-steel);
}

.modal--title {
    font-size: var(--text-xl);
    font-weight: 400;
}
