p,
h1,
h2 {
    margin: 0;
}

.alert-button {
    border: 2px solid var(--alert-button-bgcolor);
    border-radius: var(--radius-xs);
    cursor: pointer;
}

.alert-button--unselected {
    border-color: var(--alert-button-unselected-bgcolor)
}

.alert-button--main {
    padding: 1.8rem 2.1rem;
}

.alert-button--desc {
    font-weight: 300;
    font-size: var(--text);
    color: var(--alert-button-desc-color);
    margin-top: 0.75rem;
}

.alert-button--click {
    background-color: var(--alert-button-bgcolor);
    padding: 1rem 0;
}

.alert-button--click-unselected {
    background-color: var(--alert-button-unselected-bgcolor);
}

.alert-button--title {
    font-weight: 400;
    font-size: var(--text-lg);
    color: var(--alert-button-title-color);
}
