@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

:root {
    /* COLORS */
    --black: black;
    --errigal-white: #F0F1F4;
    --forged-steel: #5A5A5A;
    --codex-grey: #9C9C9C;
    --orochimaru: #D9D9D9;
    /* TYPOGRAPHY */
    --text-xxl: 36px;
    --text-xl: 32px;
    --text-lg: 24px;
    --text: 20px;
    --text-sm: 16px;
    --text-input: 19px;
    /* BORDER RADIUS */
    --radius-lg: 20px;
    --radius: 15px;
    --radius-sm: 10px;
    --radius-xs: 5px;

    /* ALERT BUTTON */
    --alert-button-bgcolor: black;
    --alert-button-title-color: black;
    --alert-button-desc-color: #636363;
    --alert-button-unselected-bgcolor: #D9D9D9;
    /* CHECKBOX */
    --checkbox-tick-color: white;
    --checkbox-disabled-color: #5A5A5A;
    --checkbox-color: black;
    --checkbox-unchecked-bg-color: white;
    --checkbox-box-shadow-w: 3px;
    /* BUTTON */
    --button-primary-color: white;
    --button-primary-bgcolor: black;
    --button-primary-boxshadow: none;
    --button-secondary-color: black;
    --button-secondary-bgcolor: white;
    --button-secondary-boxshadow: black 0px 0px 0px 2px inset;
    --button-danger-color: #FF6565;
    --button-danger-bgcolor: #FFD0D0;
    --button-danger-boxshadow: #FF6565 0px 0px 0px 2px inset;
    --button-small-padding: 12px 45px;
    --button-medium-padding: 17px 80px;
    --button-large-padding: 23px 108px;
}

body,
html {
    font-family: 'Lexend', 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Lexend', 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
