@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {
    /* CHECKBOX */
    --checkbox-tick-color: white;
    --checkbox-disabled-color: #5A5A5A;
    --checkbox-color: black;
    --checkbox-unchecked-bg-color: white;
    --checkbox-bradius: 3.5px;
    --checkbox-box-shadow-w: 3px;
    /* BUTTON */
    --button-primary-color: white;
    --button-primary-bgcolor: black;
    --button-primary-boxshadow: none;
    --button-secondary-color: black;
    --button-secondary-bgcolor: white;
    --button-secondary-boxshadow: black 0px 0px 0px 2px inset;
    --button-danger-color: #FF6565;
    --button-danger-bgcolor: #FFD0D0;
    --button-danger-boxshadow: #FF6565 0px 0px 0px 2px inset;
    --button-small-padding: 12px 45px;
    --button-small-bradius: 10px;
    --button-medium-padding: 17px 80px;
    --button-medium-bradius: 15px;
    --button-large-padding: 23px 108px;
    --button-large-bradius: 20px;
}

body,
html {
    font-family: 'Lexend', 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/************
STEP
************/

.step--index-circle {
    background-color: white;
    color: black;
    box-shadow: black 0 0 0 2.5px inset;
    padding: 0.8rem;
    border-radius: 50%;
    height: min-content;
    aspect-ratio: 1/1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step--index-circle-done {
    background-color: black;
    color: white;
    box-shadow: black 0 0 0 2.5px inset;
    padding: 0.8rem;
    border-radius: 50%;
    height: min-content;
    aspect-ratio: 1/1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step--dotted-line {
    height: 0px;
    width: 100%;
    border-top: dashed black 2px;
    top: 50%;
}

.step--dotted-line-done {
    border-top-style: solid;
    width: 0%;
}

.step--title {
    bottom: -145%;
    text-align: center;
}

/************
CHECKBOX
************/

input[type=checkbox] {
    visibility: hidden;
}

.checkbox--main {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 27px;
    width: 27px;
    padding: 1px;
    border-radius: var(--checkbox-bradius);
    background-color: var(--checkbox-unchecked-bg-color);
    box-shadow: var(--checkbox-color) 0 0 0 var(--checkbox-box-shadow-w) inset;
}

.checkbox--disabled {
    box-shadow: var(--checkbox-disabled-color) 0 0 0 var(--checkbox-box-shadow-w) inset;
    opacity: 0.7;
}

.checkbox--main input:checked ~ .checkbox {
    background-color: var(--checkbox-color);
}

.checkbox--main input:checked ~ .checkbox--disabled {
    background-color: var(--checkbox-disabled-color);
    opacity: 0.7;
}

.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox--main input:checked ~ .checkbox:after {
    display: block;
}

.checkbox--main .checkbox:after {
    left: 58%;
    bottom: 48%;
    width: 7px;
    height: 18px;
    border: solid var(--checkbox-tick-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg) translate(0%, 50%);
}

/************
BUTTON
************/

.button {
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}

.button--primary {
    color: var(--button-primary-color);
    background-color: var(--button-primary-bgcolor);
}

.button--secondary {
    color: var(--button-secondary-color);
    background-color: var(--button-secondary-bgcolor);
    box-shadow: var(--button-secondary-boxshadow);
}

.button--danger {
    color: var(--button-danger-color);
    background-color: var(--button-danger-bgcolor);
    box-shadow: var(--button-danger-boxshadow);
}

.button--small {
    padding: 12px 45px;
    border-radius: 10px;
}

.button--medium {
    padding: 17px 80px;
    border-radius: 15px;
}

.button--large {
    padding: 23px 108px;
    border-radius: 20px;
}

.button--text {
    background-color: transparent;
    box-shadow: transparent 0 0 0 0 inset;
}

.button--outline {
    background-color: transparent;
}
