@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

:root {
    /* CHECKBOX */
    --checkbox-tick-color: white;
    --checkbox-disabled-color: #5A5A5A;
    --checkbox-color: black;
    --checkbox-unchecked-bg-color: white;
    --checkbox-bradius: 3.5px;
    --checkbox-box-shadow-w: 3px;
    /* BUTTON */
    --button-primary-color: white;
    --button-primary-bgcolor: black;
    --button-primary-boxshadow: none;
    --button-secondary-color: black;
    --button-secondary-bgcolor: white;
    --button-secondary-boxshadow: black 0px 0px 0px 2px inset;
    --button-danger-color: #FF6565;
    --button-danger-bgcolor: #FFD0D0;
    --button-danger-boxshadow: #FF6565 0px 0px 0px 2px inset;
    --button-small-padding: 12px 45px;
    --button-small-bradius: 10px;
    --button-medium-padding: 17px 80px;
    --button-medium-bradius: 15px;
    --button-large-padding: 23px 108px;
    --button-large-bradius: 20px;
}

body,
html {
    font-family: 'Lexend', 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Lexend', 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
